<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#2C0091;">All in One Filters - Point of Sale, Sales, Purchase, Inventory, Invoice</h2>
      <h3 class="oe_slogan">

Today, Yesterday, Current Week, Previous Week, Current Month, Previous Month, 
Current Year, Previous Year, Expire Yesterday, Expire Tomorrow <br/>
Group By Day, Week, Month, Year.

  
      
      </h3>
      <h2 align="center">
      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/S96MTiepFCA" target="_blank">How it works? Click here to watch video</a>
      </h2>
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <p class="oe_mt32">
		</p><div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
		  <i class="fa fa-hand-o-right"></i><b> Key features: </b>
			<ul class="list-unstyled">
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				This module allow user to filter Sales, Purchase, Invoice, Inventory
			  </li>			
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				User can filter by Today, Yesterday, Current Week, Previous Week, Current Month, Previous Month, Current Year, 					Previous Year, Expire Yesterday, Expire Tomorrow
			  </li>
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				User can Group By Day, Week, Month, Year
			  </li>
			</ul>
		  <i class="fa fa-hand-o-right"></i><b> Latest Version Updates: </b>
			<ul class="list-unstyled">
			<strong>11.0.2</strong>	
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Point of Sale filter by Today, Yesterday, Current Week, Previous Week, Current Month, Previous Month, Current Year, Previous Year.   
			  </li>	

			<strong>11.0.3</strong>	
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Lots/Serial Numbers filter by End of Life Today, End of Life Yesterday, End of Life Current Week, End of Life Previous Week, End of Life Current Month, End of Life Previous Month, End of Life Current Year, End of Life Previous Year, Alert Today, Alert Yesterday, Alert Current Week, Alert Previous Week, Alert Current Month, Alert Previous Month, Alert Current Year, Alert Previous Year. 
<br/>
<br/>				Lots/Serial Numbers Group By End of Life Day, End of Life Week, End of Life Month, End of Life Year, Alert Day, Alert Week, Alert Month, Alert Year. <br/>
			  </li>			
			</ul>		


</div>
      		
    </div>
  </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Point of Sale Orders Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="p1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Point of Sale Orders Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="p1_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Point of Sale Sessions Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="p2.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Point of Sale Sessions Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="p2_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Point of Sale Reports Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="p3.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Point of Sale Reports Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="p3_g.png">
        </div>
    </div>
</section>




<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Quotation Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="1.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Quotation Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="1_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Sales Orders Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="2.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Sales Orders Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="2_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Sales Analysis Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="3.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Sales Analysis Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="3_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">All Channels Sales Orders Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="4.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">All Channels Sales Orders Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="4_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Requests for Quotation Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="5.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Requests for Quotation Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="5_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Purchase Orders Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="6.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Purchase Orders Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="6_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Incoming Products Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="7.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Incoming Products Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="7_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Vendor Bills Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="8.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Vendor Bills Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="8_g.png">
        </div>
    </div>
</section>   

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Purchase Analysis Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="9.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Purchase Analysis Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="9_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Stock Operations Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="10.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Stock Operations Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="10_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Inventory Adjustments Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="11.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Inventory Adjustments Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="11_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Scrap Orders Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="12.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Scrap Orders Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="12_g.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Lots/Serial Numbers Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="lot_1.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Lots/Serial Numbers Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="lot_1_g.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Stock Moves Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="13.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Stock Moves Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="13_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Product Moves Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="14.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Product Moves Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="14_g.png">
        </div>
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Customer Invoices Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="15.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Customer Invoices Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="15_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Customer Credit Notes Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="16.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Customer Credit Notes Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="16_g.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Payments Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="17.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Payments Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="17_g.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Vendor Credit Notes Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="18.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Vendor Credit Notes Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="18_g.png">
        </div>
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Invoices Analysis Filter</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="19.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Invoices Analysis Group By</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="19_g.png">
        </div>
    </div>
</section>



<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
	<br/>
	<div class="text-center">	
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info[at]softhealer.com">Email</span></a>
	    <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com/support/help"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="Softhealer Helpdesk">Helpdesk Support</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="softhealer.com">More About Us</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="skype:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info_736589">Skype</span></a>
    </div>	
  </div>
</section>
